.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  padding: 0 10px;
}

.milestoneRowSuccess {
  background-color: #00d1b226;
}

div.increaseWeight span {
  color: green;
}

tr.is-selected div.increaseWeight span {
  color: white; 
}

div.decreaseWeight span {
  color: red;
}

.gray-number {
  color: #808080ba;
}

.current-row {
  background-color:#ffff001f;
}

tr.is-selected .has-text-success {
  color: #083112 !important;
}